:root{
--primary-purple: hsl(259, 100%, 65%);
--primary-light-red: hsl(0, 100%, 67%);
--white:  hsl(0, 0%, 100%);
--off-white: hsl(0, 0%, 94%);
--light-gray: hsl(0, 0%, 86%); 
--smokey-gray: hsl(0, 1%, 44%);
--off-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--off-white);
}

.hero{
    background: var(--white);
    width: 500px;
    height: 500px;
    padding: 30px;
    border-radius: 10px 10px 150px 10px;
    margin-bottom: 10px;
    
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.age-input{
    display: flex;
}

.day-box,
.month-box,
.year-box{
    padding: 10px;
    width: 100px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box:hover{
    box-shadow: 0 0 5px 0px var(--smokey-gray);
}

h5{
    color: var(--primary-light-red);
}

.error-message{
    color: var(--primary-light-red);
    font-size: 12px;
    display: none;
}

::placeholder{
   color: var(--smokey-gray);
   font-weight: 700;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover{
    background: var(--off-black);
}

.image img{
width: 20px;
height: 20px;
}

.line-break{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
}

.line{
   width: 400px;
   height: 1px;
   border: 1px solid var(--light-gray);
}

.result div{
    font-size: 5rem;
    font-weight: 800;
}

.dash{
    color: var(--primary-purple);
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
        .container{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: var(--off-white);
        }
        
        .hero{
            background: var(--white);
            width: 300px;
            height: auto;
            padding: 30px;
            border-radius: 10px 10px 80px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
        
        .day-box,
        .month-box,
        .year-box{
            padding: 10px;
            width: 60px;
            margin-right: 20px;
            border-radius: 5px;
            border: 1px solid var(--light-gray);
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        
        .error-message{
            color: var(--primary-light-red);
            font-size: 0.5rem;
            display: none;
            margin-bottom: 5px;
        }
        
        .image{
            position: absolute;
            right: 40%;
            bottom: -5px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--primary-purple);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

        
        .line-break{
            position: relative;
            padding: 20px 0 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        
        .line{
           width: 250px;
           height: 1px;
           border: 1px solid var(--light-gray);
        }
        
        .result div{
            font-size: 2.7rem;
            font-weight: 800;
        }
    
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}